{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier",
    "react",
    "@typescript-eslint",
    "jest"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "tsconfig.json"
  },
  "rules": {
    "linebreak-style": "off",
    "comma-dangle": "off",
    "class-methods-use-this": 0,
    "react/sort-comp": 0,
    "react/no-danger": 1,
    "@typescript-eslint/camelcase": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "assert": "htmlFor"
      }
    ],
    "@typescript-eslint/lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "property",
        "format": [
          "strictCamelCase",
          "snake_case"
        ],
        "filter": {
          "regex": "^(__html)$",
          "match": false
        }
      }
    ]
  }
}
