.public-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* stylelint-disable selector-max-id */
  #header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 20px 0;
    background-color: rgba(24, 26, 51, .9);
    box-shadow: 0 4px 8px #181a3380;
  }

  .public-content {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 100px;

    @media (max-width: 625px) {
      padding-bottom: 165px;
    }
  }

  #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 28px 0 14px;
    font-size: .7em;
    line-height: 20px;
    background-color: rgba(24, 26, 51, .9);
    box-shadow: 0 0 8px #000;

    .footer-content {
      position: relative;
      max-width: 1360px;
      padding: 0 20px;
      margin: 0 auto;
      overflow: hidden;
      text-align: left;
    }

    li {
      padding: 0 28px;
    }

    .auth-logo img {
      height: 35px;
    }

    a {
      font-size: 14px;
      color: #fff;
    }
  }
}
