.modules-fieldset {
  $read-width: 60px;
  $write-width: 50px;

  .read-label {
    min-width: $read-width;
  }

  .write-label {
    min-width: $write-width;
  }

  .name-col {
    word-break: break-all;
  }

  .read-col {
    min-width: $read-width;
  }

  .write-col {
    min-width: $write-width;
  }
}
